<mat-toolbar>

    <span>Catalog</span>
      <mat-icon [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/electronics']" [queryParams]="{ category: 'electronics' }">Electronics</button>
      <button mat-menu-item [routerLink]="['/jewelry']" [queryParams]="{ category: 'jewelry' }">Jewelry</button>
      <button mat-menu-item [routerLink]="['/mensclothing']" [queryParams]="{ category: 'mensclothing' }">Men's Clothing</button>
      <button mat-menu-item [routerLink]="['/womensclothing']" [queryParams]="{ category: 'womensclothing' }">Women's Clothing</button>
    </mat-menu>
    
  </mat-toolbar>
  <app-product-list></app-product-list>
  