<app-navigation></app-navigation><br><br><br><br>
<mat-toolbar>
  <!-- <app-breadcrumbs></app-breadcrumbs> -->

    <span>Catalog</span>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu"> -->
      <mat-icon [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
    <!-- </button> -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/electronics">Electronics</button>
      <button mat-menu-item routerLink="/jewelry">Jewelry</button>
      <button mat-menu-item routerLink="/mens-clothing">Men's Clothing</button>
      <button mat-menu-item routerLink="/womens-clothing">Women's Clothing</button>
    </mat-menu>
  </mat-toolbar>
  
  <router-outlet></router-outlet>
  