<section class="py-5">
    <div class="container">
      <div class="row gx-5" >
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" [href]="product.image">
              <img style="max-width: 100%; max-height: 50vh; margin: auto;" class="rounded-4 fit" [src]="product.image" />
            </a>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" [href]="product.image" class="item-thumb">
              <img width="60" height="60" class="rounded-2" [src]="product.image" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" [href]="product.image" class="item-thumb">
              <img width="60" height="60" class="rounded-2" [src]="product.image" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" [href]="product.image" class="item-thumb">
              <img width="60" height="60" class="rounded-2" [src]="product.image" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" [href]="product.image" class="item-thumb">
              <img width="60" height="60" class="rounded-2" [src]="product.image" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" [href]="product.image" class="item-thumb">
              <img width="60" height="60" class="rounded-2" [src]="product.image" />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
             {{product.title}}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star_half</mat-icon>
                <span class="ms-1">
                  {{product?.rating?.rate}}
                </span>
              </div><br>
              <p class="text-muted"><mat-icon style="margin-right: 5px;">shopping_basket</mat-icon> {{product?.rating?.count}} orders</p>
              <span class="text-success ms-2"style="margin-left: 5px;">  In stock</span>
            </div>
  
            <div class="mb-3">
              <span class="h5">${{product?.price}}</span>
              <span class="text-muted">/per item</span>
            </div>
  
            <p>
              {{product?.description}}
            </p>
  
            <div class="row">
              <dt class="col-3">Type:</dt>
              <dd class="col-9">Regular</dd>
  
              <dt class="col-3">Color</dt>
              <dd class="col-9">Brown</dd>
  
              <dt class="col-3">Material</dt>
              <dd class="col-9">Cotton</dd>
  
              <dt class="col-3">Brand</dt>
              <dd class="col-9">Reebook</dd>
            </div>
  
            <hr />
  
            <div class="row mb-4">
              <div class="col-md-4 col-6">
                <label class="mb-2" style="margin-right: 5px;">Size</label>
                <select class="form-select border border-secondary" style="height: 35px;">
                  <option>Small</option>
                  <option>Medium</option>
                  <option>Large</option>
                </select>
              </div>
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3" style="width: 170px;">
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                   <span>-</span>
                  </button>
                  <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" style="margin: 5px;" />
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-warning shadow-0" style="margin-right: 5px;"> Buy now </a>
            <a href="#" class="btn btn-primary shadow-0" style="margin-right: 5px; color: white; background-color: black; border: none;" (click)="addToCart(product)"> <mat-icon class="cart-icon" >shopping_cart</mat-icon> Add to cart </a>
            <a href="#" class="btn btn-success border border-secondary py-2 icon-hover px-3" style="margin-right: 5px; border: none;">  Save </a>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->
  
  <section class="bg-light border-top py-4">
    <div class="container">
      <h3 class="text-center mb-4">Similar Items</h3>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div *ngFor="let product of products" class="col mb-4">
          <div class="card" style="max-height: 90vh; min-width: 100%;" (click)="viewProductDetails(product.id)">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="#">
                  <img [src]="product.image" style="max-width: 96px; height: 100%;" class="img-md img-thumbnail" alt="Product Image">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title mb-0">{{ product.title | truncate: 19 }}</h5>
                  <p class="card-text text-dark">$ {{ product.price }}</p>
                  <p class="card-text text-success">In Stock</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  