<app-navigation></app-navigation><br><br><br><br>
<section class="h-100" style="background-color: #eee;">
<div class="container">
    <h1>Payment Details</h1>
  
    <!-- Summary of Cart -->
    <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title">Summary of Cart</h3>
          <p>Total Products: {{  cartItems.length }}</p>
          <p>Shipping Fee: {{0}}</p>
          <p>Total Price: {{ totalPrice }}</p>
        </div>
      </div>
      
  
    <!-- Shipping Address -->
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="card-title">Shipping Address</h3>
        <!-- Display shipping address details -->
      </div>
    </div>
  
<!-- Payment Method Selection -->
<div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title">Select Payment Method</h3>
      <div class="d-flex flex-wrap">
        <div class="form-check d-flex align-items-center me-4">
          <input class="form-check-input" type="radio" name="paymentMethod" id="mpesa" value="mpesa" (change)="onPaymentMethodChange($event)">
          <label class="form-check-label" for="mpesa">M-Pesa</label>
          <img style="height: 50px; margin-left: 10px;" src="https://th.bing.com/th/id/OIP.WTNo33P-kZiLTRI6PDNmtQHaFa?rs=1&pid=ImgDetMain" alt="logo">
        </div>
        <div class="form-check d-flex align-items-center me-4">
          <input class="form-check-input" type="radio" name="paymentMethod" id="paypal" value="paypal">
          <label class="form-check-label" for="paypal">PayPal</label>
          <img style="height: 70px; margin-left: 10px;" src="https://th.bing.com/th/id/OIP.EaoeW4WNybmzaTv1FqVYqQHaHa?rs=1&pid=ImgDetMain" alt="logo">
        </div>
        <div class="form-check d-flex align-items-center me-4">
          <input class="form-check-input" type="radio" name="paymentMethod" id="equity" value="equity">
          <label class="form-check-label" for="equity">Equity</label>
          <img style="height: 40px; margin-left: 10px;" src="https://th.bing.com/th/id/OIP.360AKKwXtwgHIt80-g8oQgAAAA?rs=1&pid=ImgDetMain" alt="logo">
        </div>
        <div class="form-check d-flex align-items-center me-4">
          <input class="form-check-input" type="radio" name="paymentMethod" id="mastercard" value="mastercard">
          <label class="form-check-label" for="mastercard">MasterCard</label>
          <img style="height: 40px; margin-left: 10px;" src="https://th.bing.com/th/id/OIP.Si-iFWCFCDErhDoArcsEcwHaEy?w=820&h=531&rs=1&pid=ImgDetMain" alt="logo">
        </div>
      </div>
      <div *ngIf="selectedPaymentMethod === 'mpesa'" class="form-group mt-3">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" [(ngModel)]="mobileNumber">
      </div>
    
      <!-- Total price field for all payment methods -->
      <div class="form-group mt-3">
        <label for="totalPrice">Total Price</label>
        <input type="number" class="form-control" id="totalPrice" name="totalPrice" [(ngModel)]="totalPrice">
      </div>
    </div>
  </div>
  
  
    <!-- Button to Place Order -->
    <button type="button" (click)="placeOrder()" class="btn btn-warning btn-block btn-lg">Place Order</button>
  </div>
  </section>
  