@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}
.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: rgb(210, 153, 9);
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}
.image-container {
    height: 200px; 
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: auto;
}
.cart-icon, .favorite-icon, .add-icon, .view-details-icon {
    color: black; 
    transition: color 0.3s ease; 
}

.cart-icon:hover, .favorite-icon:hover, .add-icon:hover, .view-details-icon:hover {
    color: lightgray; 
}

.action-text {
    display: none; 
}

.list-unstyled li:hover .action-text {
    display: inline-block;
}
