<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color:black; z-index: 1200; ">
    <div class="container">
        <!-- Logo/Home Link -->
        <a class="navbar-brand" routerLink="/" style="color: white;">
        <img class="navbar-img img-fluid" src="../../../assets/Images/Screenshot 2024-03-23 at 20.11.58.png" style="max-width: 50px;">
        </a>
        
        <!-- Toggler/collapsible button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 5px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home Link -->
                <li class="nav-item"  *ngIf="!isLoggedIn">
                    <a class="nav-link" (click)="Home()"
                       style="color: white; position: relative;">
                        Home
                        <div class="underline"></div>
                    </a>
                </li>
                <!-- Catalog Link -->
                <li class="nav-item"  *ngIf="!isLoggedIn">
                    <a class="nav-link" (click)="catalog()"
                       style="color: white; position: relative;">
                        Catalog
                        <div class="underline"></div>
                    </a>
                </li>
                <!-- About Us Link -->
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" (click)="aboutus()"
                       style="color: white; position: relative;">
                        About Us
                        <div class="underline"></div>
                    </a>
                </li>
                <!-- Contact Us Link -->
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" (click)="contactus()"
                       style="color: white; position: relative;">
                        Contact Us
                        <div class="underline"></div>
                    </a>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" (click)="myAccount()"
                       style="color: white; position: relative;">
                        My Account
                        <div class="underline"></div>
                    </a>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" (click)=" myProductList()"
                       style="color: white; position: relative;">
                        My Products
                        <div class="underline"></div>
                    </a>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" (click)=" productList()"
                       style="color: white; position: relative;">
                        Product List
                        <div class="underline"></div>
                    </a>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" (click)="cart()"
                       style="color: white; position: relative;">
                        Cart
                        <div class="underline"></div>
                    </a>
                </li>
            </ul>
        </div>
        
        <!-- Login and Signup Buttons -->
<!-- Login and Signup Buttons -->
<div class="d-flex align-items-center" *ngIf="!isLoggedIn">
    <div class="row g-2">
        <div class="col">
            <button mat-button class="btn btn-primary custom-button w-100 w-sm-auto me-sm-2 mb-2 mb-sm-0" (click)="login()">Login</button>
        </div>
        <div class="col">
            <button mat-button class="btn btn-secondary custom-button w-100 w-sm-auto ms-sm-2" (click)="signup()">Sign Up</button>
        </div>
    </div>
</div>

<!-- Logout Button -->
<div class="d-flex align-items-center" *ngIf="isLoggedIn">
    <div class="col">
        <button mat-button class="btn btn-danger custom-button w-100 w-sm-auto me-sm-2 mb-2 mb-sm-0" (click)="logout()">Logout</button>
    </div>
</div>         
        <!-- Cart Icon -->
        <a class="btn btn-outline: none ms-auto" routerLink="/cart" routerLinkActive="active" *ngIf="cartItems" >
            <mat-icon style="color: white;" (click)="cart()">shopping_cart</mat-icon>
            <span class="badge" style="color:white">{{  cartItems?.length }}</span>
        </a>
</div>
</nav>