/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
    background-color: #4CAF50 !important;
    color: white !important;
  }
  
  .error {
    background-color: #f44336 !important;
    color: white !important;
  }
  
  .info {
    background-color: #2196F3 !important;
    color: white !important;
  }
  