<div class="search-container">
  <form [formGroup]="searchForm" class="search-form">

    <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Search By</mat-label>
        <mat-select formControlName="searchBy">
          <mat-option *ngFor="let option of searchOptions" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search Products</mat-label>
      <input matInput formControlName="searchTerm" placeholder="Enter search term">
      <mat-icon matSuffix>search</mat-icon>
      <button mat-icon-button matSuffix *ngIf="searchForm.get('searchTerm')?.value" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>


  </form>
</div>
